---
import SunIcon from '@/components/icons/SunIcon.astro';
import MoonIcon from '@/components/icons/MoonIcon.astro';
---

<header class="fixed z-10 flex w-full justify-center md:pt-2">
  <nav
    class="navbar border-base-300 bg-base-200 md:max-w-screen-md md:rounded-xl"
  >
    <div class="flex-1">
      <a href="#" aria-label="#" class="btn btn-ghost">
        <img
          src="/disneyland-logo.webp"
          alt="disneyland-logo"
          class="h-full w-full"
        />
      </a>
    </div>

    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <details>
            <summary>Activities</summary>
            <ul class="rounded-t-none bg-base-100 p-2">
              <li><a href="#" aria-label="#">Activity 1</a></li>
              <li><a href="#" aria-label="#">Activity 2</a></li>
              <li><a href="#" aria-label="#">Activity 3</a></li>
            </ul>
          </details>
        </li>

        <li>
          <label class="swap swap-rotate">
            <input type="checkbox" class="theme-controller" />
            <SunIcon id="sunIcon" />
            <MoonIcon id="moonIcon" />
          </label>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  function getReversePrefersColorScheme(): string {
    const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    return isDark ? 'light' : 'dark';
  }

  const colorScheme = getReversePrefersColorScheme();
  const themeController: HTMLInputElement | null =
    document.querySelector('.theme-controller');

  themeController!.value = colorScheme;

  const sunIcon = document.getElementById('sunIcon');
  const moonIcon = document.getElementById('moonIcon');

  if (colorScheme === 'light') {
    sunIcon!.classList.add('swap-off');
    moonIcon!.classList.add('swap-on');
  } else {
    sunIcon!.classList.add('swap-on');
    moonIcon!.classList.add('swap-off');
  }
</script>
