---
import SunIcon from '@/components/icons/SunIcon.astro';
import MoonIcon from '@/components/icons/MoonIcon.astro';

import { ACTIVITIES } from '@/constants/activities';
---

<header
  transition:persist
  class="fixed z-10 flex w-full justify-center md:pt-2"
>
  <nav
    class="navbar border-base-300 bg-base-200 md:max-w-screen-md md:rounded-xl"
  >
    <div class="flex-1">
      <a href="/#" aria-label="home">
        <img
          width="145"
          src="/disneyland-california-logo.svg"
          alt="disneyland-logo"
          class="ml-4"
        />
      </a>
    </div>

    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <!-- <li>
          <details id="headerMenuDetails">
            <summary>Activities</summary>
            <ul class="rounded-t-none bg-base-100 p-2">
              {
                ACTIVITIES.map(({ id, title }) => (
                  <li>
                    <a href={`/activities/${id}`} aria-label={id}>
                      {title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </details>
        </li> -->
        <li class="flex-row">
          <a href="#what-to-expect">What to expect</a>
          <a href="#rides-and-shows">Rides & Shows</a>
          <a href="#plan-your-visit">Plan your visit</a>
          <a href="#traveler-photos">Traveler photos</a>
        </li>

        <li>
          <label class="swap swap-rotate">
            <input type="checkbox" class="theme-controller" />
            <SunIcon id="sunIcon" />
            <MoonIcon id="moonIcon" />
          </label>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  function getReversePrefersColorScheme(): string {
    const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    return isDark ? 'light' : 'dark';
  }

  function closeMenuDetails() {
    const details = document.getElementById('headerMenuDetails');
    details!.removeAttribute('open');
  }

  const colorScheme = getReversePrefersColorScheme();
  const themeController: HTMLInputElement | null =
    document.querySelector('.theme-controller');

  themeController!.value = colorScheme;

  const sunIcon = document.getElementById('sunIcon');
  const moonIcon = document.getElementById('moonIcon');

  if (colorScheme === 'light') {
    sunIcon!.classList.add('swap-off');
    moonIcon!.classList.add('swap-on');
  } else {
    sunIcon!.classList.add('swap-on');
    moonIcon!.classList.add('swap-off');
  }

  document.querySelectorAll('header nav a').forEach((link) => {
    link.addEventListener('click', (_) => closeMenuDetails());
  });
</script>
