---
import Section from '@/components/common/Section.astro';
import Link from '@/components/common/Link.astro';

import { type NavItem } from '@/constants/navItems';

interface Props {
  navItem: NavItem;
}

const { navItem } = Astro.props;
---

<Section id={navItem.label} title="Rides and Shows at Disneyland Resort">
  <p>
    Enjoy classic attractions like Pirates of the Caribbean, the Haunted
    Mansion, the <Link
      url="https://disneyland.disney.go.com/attractions/disneyland/mad-tea-party"
      label="mad-tea-party">Mad Tea Party</Link
    >’s whirling teacups and the <Link
      url="https://disneyland.disney.go.com/attractions/disneyland/matterhorn-bobsleds"
      label="matterhorn-bobsleds">Matterhorn Bobsleds</Link
    > adventure. Just outside the Breakout! ride, don’t be surprised when the music
    starts pumping and you can join either Team Starlord or Team Gamora in a dance-off.
  </p>
  <p>
    Fans of one particular galaxy far, far away will be transported by the <Link
      url="https://disneyparks.disney.go.com/star-wars-galaxys-edge"
      label="star-wars-galaxy-edge"><em>Star Wars</em>: Galaxy’s Edge</Link
    > land, where they can step into the world of Darth Vader and Luke Skywalker
    to live out their own <em>Star Wars</em> storyline, flying the Millennium Falcon
    and exploring a distant outpost. Marvel Comics fans won’t want to miss the <Link
      url="https://disneyland.disney.go.com/destinations/disney-california-adventure/avengers-campus/?CMP=ILC-DPFY21Q3wo0408210414210002C"
      label="avengers-campus">Avengers Campus</Link
    >, the new land dedicated to discovering, recruiting, and training the next
    generation of super heroes. The attraction is also home to the Ancient
    Sanctum, where Dr. Strange emerges from an interdimensional portal to enlist
    the audience’s help in his otherworldly endeavors. Families with smaller
    kids should not miss <Link
      url="https://disneyland.disney.go.com/destinations/disneyland/mickeys-toontown"
      label="mickeys-toontown">Mickey’s Toontown</Link
    >, which offers interactive experiences, green spaces for free play, and the <Link
      url="https://disneyland.disney.go.com/attractions/disneyland/mickey-minnies-runaway-railway"
      label="mikey-minnies-runaway-railway"
      >Mickey &amp; Minnie’s Runaway Railway</Link
    > ride, which has no age or height restrictions.
  </p>
  <p>
    Fantasyland Theatre is another place where you’ll be transported, this time
    to the savannas of Africa via <Link
      url="https://disneyland.disney.go.com/entertainment/disneyland/tale-of-the-lion-king"
      label="tale-of-the-lion-king"><em>Tale of the Lion King</em></Link
    >. In this 30-minute theatrical adaptation of the classic Disney movie,
    you’ll follow Simba’s journey by way of narration, choreography, and song as
    he ascends to the throne.
  </p>
</Section>
