---
import { Image } from 'astro:assets';

import Section from '@/components/common/Section.astro';
import Link from '@/components/common/Link.astro';
import Modal from '@/components/common/Modal.astro';
import SuccessAlert from '@/components/common/SuccessAlert.astro';

import { type NavItem } from '@/constants/navItems';
import { PHOTOS } from '@/constants/travelerPhotos';

interface Props {
  navItem: NavItem;
}

const { navItem } = Astro.props;
---

<script>
  function hideAlertAfter(seconds: number) {
    setTimeout(() => (alert.style.display = 'none'), seconds * 1000);
  }

  const modal = document.getElementById(
    'photo_upload_modal'
  ) as HTMLDialogElement;
  const form = document.getElementById('photo-upload-form') as HTMLFormElement;
  const alert = document.getElementById('photo-upload-alert') as HTMLElement;

  form.addEventListener('submit', function (event) {
    event.preventDefault();

    modal.close();
    alert.style.display = 'flex';
    form.reset();

    hideAlertAfter(5);
  });
</script>

<Section id={navItem.label} title="Traveler Photos">
  <p>
    For many, a trip to <Link
      url="https://disneyland.disney.go.com"
      label="disneyland-resort">Disneyland Resort</Link
    > in California is a dream come true. This magical destination, home to iconic
    attractions, beloved characters, and enchanting experiences, offers countless
    opportunities to capture unforgettable moments. From the excitement of meeting
    <Link
      url="https://disneyland.disney.go.com/characters/mickey-mouse"
      label="mickey-mouse">Mickey Mouse</Link
    > for the first time to the thrill of riding the <Link
      url="https://disneyland.disney.go.com/attractions/disneyland/matterhorn-bobsleds"
      label="matterhorn-bobsleds">Matterhorn Bobsleds</Link
    >, every corner of Disneyland Resort is brimming with photo-worthy scenes.
  </p>

  <div class="flex
      justify-center">
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-4">
      {
        PHOTOS.map(({ title, imageUrl }) => (
          <Image
            width="200"
            height="200"
            src={`${imageUrl}`}
            alt={title}
            class="h-52 w-52 rounded-2xl object-cover"
          />
        ))
      }
    </div>
  </div>

  <p>
    We invite you to browse through the vibrant gallery of traveler photos
    above. Each image tells a story of adventure, wonder, and the timeless joy
    that Disneyland Resort brings to people of all ages. And if you have a
    favorite photo from your own visit, we'd love for you to share it with our
    community. Just click the <button
      onclick="photo_upload_modal.showModal()"
      class="underline">here</button
    > or the upload button below, and your photo could be featured in our gallery,
    spreading the magic of Disneyland to fellow fans around the world.
  </p>

  <button
    onclick="photo_upload_modal.showModal()"
    class="btn mx-auto flex px-7"
  >
    Upload Photo
  </button>
  <Modal
    id="photo_upload_modal"
    title="Upload Photo"
    description="Upload the image you want to publish to traveler photos"
  >
    <form
      id="photo-upload-form"
      method="post"
      enctype="multipart/form-data"
      class="flex flex-col"
    >
      <input
        required
        type="text"
        placeholder="Photo Title"
        aria-label="Write a photo title"
        class="input input-bordered mb-5"
      />
      <input
        required
        type="file"
        accept="image/*"
        aria-label="Select photo to upload"
        class="file-input file-input-bordered mb-5"
      />
      <button type="submit" aria-label="Upload photo" class="btn">
        Upload
      </button>
    </form>
  </Modal>
  <SuccessAlert id="photo-upload-alert" class="hidden">
    Your photo has been uploaded!
  </SuccessAlert>
</Section>
