---
import Section from '@/components/common/Section.astro';
import Link from '@/components/common/Link.astro';
import YoutubeEmbed from '@/components/common/YoutubeEmbed.astro';

import { type NavItem } from '@/constants/navItems';

interface Props {
  navItem: NavItem;
}

const { navItem } = Astro.props;
---

<Section id={navItem.label} title="What to Expect at Disneyland Resort">
  <p>
    Consisting of the original <Link
      url="https://disneyland.disney.go.com/destinations/disneyland"
      label="disney-park">Disneyland Park</Link
    > and the adjacent <Link
      url="https://disneyland.disney.go.com/destinations/disney-california-adventure"
      label="disney-california-adventure-park"
      >Disney California Adventure Park</Link
    >, the sprawling Disneyland Resort is divided up into themed “lands” with
    related rides, shows, and attractions. Rising beyond Main Street, <Link
      url="https://disneyland.disney.go.com/attractions/disneyland/sleeping-beauty-castle-walkthrough"
      label="sleeping-beauty-castle">Sleeping Beauty Castle</Link
    > is the unmistakable beacon at the heart of the theme park, with its turquoise-tiled
    towers, golden turrets, and working drawbridge. You’ll find an abode of an entirely
    different sort in the <Link
      url="https://disneyland.disney.go.com/attractions/disneyland/adventureland-treehouse"
      label="adventureland-treehouse">Adventureland Treehouse</Link
    >, which is inspired by Walt Disney’s <em>Swiss Family Robinson</em>. The
    treehouse is bigger and more impressive than ever after an extensive
    reimagining of the 1962 original.
  </p>
  <p>
    Visitors to the park in 2024 are in for a special experience to mark a
    milestone. Though the park opened in 1955, Walk Disney and his brother, Roy,
    launched the Disney Brothers Cartoon Studio in 1923. Beginning Jan. 27 and
    throughout 2023, the park’s <Link
      url="https://disneyland.disney.go.com/100th-anniversary"
      label="disney100-celebration">Disney100 Celebration</Link
    > will mark the company’s centennial with special decor, food and drink, merchandise,
    and new rides and shows.
  </p>
  <p>
    If you’d like to see all the goings-on and special events that will be
    taking place at Disneyland Resort in the coming year so you can plan your
    trip accordingly, see this <Link
      url="https://disneyparks.disney.go.com/blog/2023/12/disneyland-resort-announces-event-dates-and-more-for-2024/?CMP=SOC-DPFY24Q1wo1130230004A"
      label="2024-calendar">2024 calendar</Link
    >.
  </p>

  <YoutubeEmbed
    url="https://youtu.be/gTDTiAjIv_E"
    title="Disneyland Resort Destination Promotional Video (2020)"
    playLabel="Play: Disneyland Resort Destination Promotional Video (2020)"
    class="mx-auto"
  />
</Section>
