---
import ArrowDownIcon from '@/components/icons/ArrowDownIcon.astro';

import { NAV_ITEMS } from '@/constants/navItems';

const firstNavItem = NAV_ITEMS[0]!;
---

<div class="background-castle hero min-h-screen">
  <div class="hero-overlay flex items-end justify-center bg-opacity-60">
    <a
      href={firstNavItem.url}
      aria-label={firstNavItem.label}
      class="smooth-scroll mb-10 flex animate-bounce justify-center text-neutral-content"
    >
      <ArrowDownIcon size="50" />
    </a>
  </div>

  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
        Know Before You Go: Disneyland Resort
      </h1>
      <p class="mb-5">
        A starter guide to exploring the theme parks at Disneyland Resort in
        Anaheim, including California Adventure, live shows, events, and other
        attractions.
      </p>
      <a
        href={firstNavItem.url}
        aria-label={firstNavItem.label}
        class="smooth-scroll btn"
      >
        Get started
      </a>
    </div>
  </div>
</div>

<style>
  .background-castle {
    background-image: url('/disneyland-california-castle.webp');
  }
</style>
