---
interface Props {
  url: string;
  label: string;
}

const { url, label } = Astro.props;
---

<a
  href={url}
  aria-label={label}
  target="_blank"
  rel="nofollow"
  class="underline"
>
  <slot />
</a>
