---
import Layout from '@/layouts/Layout.astro';

import Hero from '@/components/pages/index/Hero.astro';
import WhatExpect from '@/components/pages/index/sections/WhatExpect.astro';
import RideShows from '@/components/pages/index/sections/RideShows.astro';
import HowPlan from '@/components/pages/index/sections/HowPlan.astro';
import TravelerPhotos from '@/components/pages/index/sections/TravelerPhotos.astro';

import { NAVITEMS } from '@/constants/navItems';
---

<Layout
  title="Disneyland California"
  description="Multi-day disney themed resort"
>
  <main class="overflow-x-hidden">
    <Hero navItem={NAVITEMS[0]!} />
    <WhatExpect navItem={NAVITEMS[0]!} />
    <RideShows navItem={NAVITEMS[1]!} />
    <HowPlan navItem={NAVITEMS[2]!} />
    <TravelerPhotos navItem={NAVITEMS[3]!} />
  </main>
</Layout>
