---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="title" description="description">
  <main>
    <h1 class="text-xl">Hello Tailwind</h1>
    <button class="btn btn-primary">DaisyUI</button>
  </main>
</Layout>
