---
import Layout from '@/layouts/Layout.astro';

import Hero from '@/components/pages/index/Hero.astro';
import WhatExpect from '@/components/pages/index/sections/WhatExpect.astro';
import RideShows from '@/components/pages/index/sections/RideShows.astro';
import HowPlan from '@/components/pages/index/sections/HowPlan.astro';
import TravelerPhotos from '@/components/pages/index/sections/TravelerPhotos.astro';

import { NAV_ITEMS } from '@/constants/navItems';
---

<Layout
  title="Disneyland California"
  description="Multi-day disney themed resort"
>
  <main class="overflow-x-hidden">
    <Hero />

    <WhatExpect navItem={NAV_ITEMS[0]!} />
    <RideShows navItem={NAV_ITEMS[1]!} />
    <HowPlan navItem={NAV_ITEMS[2]!} />
    <TravelerPhotos navItem={NAV_ITEMS[3]!} />
  </main>
</Layout>
