---
import Layout from '@/layouts/Layout.astro';

import ArrowDownIcon from '@/components/icons/ArrowDownIcon.astro';
---

<Layout title="Disneyland California" description="Multi-day disney themed resort">
  <main class="overflow-x-hidden overflow-y-hidden">
    <div class="background-castle hero min-h-screen">
      <div class="hero-overlay flex items-end justify-center bg-opacity-50">
        <a
          href="/#"
          aria-label="scroll-down"
          class="mb-10 flex animate-bounce justify-center text-neutral-content
                 hover:cursor-pointer"
        >
          <ArrowDownIcon size="50" />
        </a>
      </div>

      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Know Before You Go: Disneyland Resort</h1>
          <p class="mb-5">
            A starter guide to exploring the theme parks at Disneyland Resort in Anaheim, including California Adventure, live shows, events, and other attractions.
          </p>
          <a href="#what-to-expect" aria-label="start" class="btn">Get started</a>
        </div>
      </div>
    </div>
    <section id="what-to-expect">
      <h1>What to Expect at Disneyland Resort</h1>
      <p>
        &emsp;Consisting of the original Disneyland Park and the adjacent Disney California Adventure Park, the sprawling Disneyland Resort is divided up into themed “lands” with related rides, shows, and attractions. Rising beyond Main Street, Sleeping Beauty Castle is the unmistakable beacon at the heart of the theme park, with its turquoise-tiled towers, golden turrets, and working drawbridge. You’ll find an abode of an entirely different sort in the Adventureland Treehouse, which is inspired by Walt Disney’s Swiss Family Robinson. The treehouse is bigger and more impressive than ever after an extensive reimagining of the 1962 original.
      </p>
      <p>
        &emsp;Visitors to the park in 2024 are in for a special experience to mark a milestone. Though the park opened in 1955, Walk Disney and his brother, Roy, launched the Disney Brothers Cartoon Studio in 1923. Beginning Jan. 27 and throughout 2023, the park’s Disney100 Celebration will mark the company’s centennial with special decor, food and drink, merchandise, and new rides and shows.
      </p>
      <p>
        &emsp;If you’d like to see all the goings-on and special events that will be taking place at Disneyland Resort in the coming year so you can plan your trip accordingly, see this 2024 calendar.
      </p>
    </section>

    <section id="rides-and-shows">
      <h1>Rides and Shows at Disneyland Resort</h1>
      <p>
        &emsp;Enjoy classic attractions like Pirates of the Caribbean, the Haunted Mansion, the Mad Tea Party’s whirling teacups and the Matterhorn Bobsleds ride, as well as experiences featuring new innovations, like the incredible special effects, freefall thrills, and multiple storylines of the Guardians of the Galaxy Mission: Breakout! adventure. Just outside the Breakout! ride, don’t be surprised when the music starts pumping and you can join either Team Starlord or Team Gamora in a dance-off.
      </p>
      <p>
        &emsp;Fans of one particular galaxy far, far away will be transported by the Star Wars: Galaxy’s Edge land, where they can step into the world of Darth Vader and Luke Skywalker to live out their own Star Wars storyline, flying the Millennium Falcon and exploring a distant outpost. Marvel Comics fans won’t want to miss the Avengers Campus, the new land dedicated to discovering, recruiting, and training the next generation of super heroes. The attraction is also home to the Ancient Sanctum, where Dr. Strange emerges from an interdimensional portal to enlist the audience’s help in his otherworldly endeavors. Families with smaller kids should not miss Mickey’s Toontown, which offers interactive experiences, green spaces for free play, and the Mickey & Minnie’s Runaway Railway ride, which has no age or height restrictions.
      </p>
      <p>
        &emsp;Fantasyland Theatre is another place where you’ll be transported, this time to the savannas of Africa via Tale of the Lion King. In this 30-minute theatrical adaptation of the classic Disney movie, you’ll follow Simba’s journey by way of narration, choreography, and song as he ascends to the throne.
      </p>
    </section>

    <section id="plan-your-visit">
      <h1>How to Plan Your Visit to Disneyland Resort</h1>
      <p>
        &emsp;Download the free Disneyland Mobile app to buy tickets, check out wait times, browse maps, and even order food or locate Disney characters. You’ll also be able to access Disney Genie and Disney Genie+ services, which can provide tailored recommendations, generate daily itineraries, and help you buy Lightning Lane purchases to reserve ride times. Another high-tech option is the MagicBand+, a next-generation wrist-wearable band that enables visitors to experience the park in another way, via vibrations, gesture recognition, and changing LED lights (learn more about the MagicBand+ here).
      </p>
      <p>
        &emsp;As part of the Disney100 celebration, those entering with a Magic Key pass or a Park Hopper ticket can enjoy a bit of added flexibility: They'll be able to cross between Disneyland park and Disney California Adventure park at 11:00 a.m., two hours earlier than usual. Another bonus: Disney PhotoPass digital photo downloads captured on any Disney PhotoPass available attraction will be complimentary for all ticketed park guests on the Disneyland app.
      </p>
      <p>
        &emsp;To make the most of your time, stay at one of the resort’s three on-site hotels, which extend the Disney ambience through themed decor and character breakfasts.
      </p>
      <p>
        &emsp;Insider tip: The World of Color and the nighttime show Fantasmic! (check the website for the latest show schedules), longtime favorites that had been on hold, have both returned to the Magic Kingdom. If your visit coincides with the fall/winter holiday season, check out Holidays at the Disneyland Resort to see all the ways the park gets in the spirit.
      </p>
      <p>
        &emsp;Reservations and a valid ticket are required for guests ages 3 and older for the same day and same park they want to visit. Click here for schedule and hours of operation.
      </p>
      <address>
        Disneyland Resort address
        <br><br>
        1313 South Harbor Boulevard <br>
        Anaheim, CA 92803 <br>
        Phone: 714.781.4636
      </address>
    </section>

    <section id="traveler-photos">
      <h1>Traveler Photos</h1>
    </section>
  </main>
</Layout>

<style>
  .background-castle {
    background-image: url('/disneyland-california.avif');
  }

  section {
    padding: 24px;
  }

  h1 {
    font-size: 36px;
  }

  p {
    margin-top: 20px;
  }
</style>
